<h1>Adding user</h1>

  <%= form_tag({controller: "groups", action: "updateuser"}, id: @group.id, method: :patch) do %> 
    <%= render "/shared/error", model: @group %>
  
      <%= email_field_tag (:search_user_email) %>
      <%= submit_tag 'Add User', name: nil %>
  <% end %>
<br>
<br>
<br>

<%= link_to 'Back to group', @group, class: "navButton" %> |
<%= link_to 'Return to group index', groups_path, class: "navButton" %>
