<h1> All group posts </h1>

<p>
  <% if @group.posts.any? %>
    			<ol class="posts">
    				<% @group.posts.order(:created_at).reverse_order.each do |post| %>
    					<% @user = post.user %>
    					<li>
                <span><%= link_to post.title, post_path(post), :class => 'title' %></span>
      					<span class="timestamp">Posted on <%= post.created_at.to_formatted_s(:long_ordinal) %> by <%= @user.name %> </span>
     						<span class="body"><%= post.body %></span>
              </li>
    				<% end %>
    			</ol>
  <% else %>
  <h3> Your group hasn't made any posts yet!? </h3>
  <% end %>
 </p>

<br>
<br>
<%= link_to 'create group post', {controller: "posts", action: "new"}, class: "navButton" %>
<br>
<br>
<br>

 <%= link_to 'Back to group', @group, class: "navButton" %>  |
<%= link_to 'Return to group index', groups_path, class: "navButton" %> 
<br>
<br>
