<h1> All group posts </h1>

<%= link_to 'create group post', controller: "posts", action: "creategrouppost", group_id: @group.id %>

<p>
  <% if @group.posts.any? %>
  	<h1>Posts from users</h1>
    			<ol class="posts">
    				<% @group.posts.order(:created_at).reverse_order.each do |post| %>
    					<% @user = post.user %>
    					<span><%= link_to post.title, post_path(post), :class => 'title' %></span>
    					<span class="timestamp">Posted on <%= post.created_at.to_formatted_s(:long_ordinal) %> by <%= @user.name %> </span>
   						<span class="body"><%= post.body %></span>
   						<br>
   						<br>
    				<% end %>
    			</ol>
  <% else %>
  <h3> Your group hasn't made any posts yet!? </h3>
  <% end %>

<br>
 </p>