<p class= 'title'>
  <%= @post.title %>
</p>

<p class= 'body'>
  <%= @post.body %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_post_path(@post), class: 'navButton' %>
<% end %>
<%= link_to 'Back', posts_path, class: 'navButton' %>

<%= link_to "Comment", new_post_comment_path(@post), class: 'navButton' %>

<p> 
  <strong>Comments:</strong>
</p>

<% if @post.comments.any? %>
  <ol><%= render @comments%></ol>
<% end %>
