<!DOCTYPE html>
<html>
<head>
  <title>Quiver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul id="topNav">
  <li><%= link_to "Posts", posts_path %></li>
  <li><%= link_to "Login", new_user_session_path %></li>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
