<!DOCTYPE html>
<html>
<head>
  <title>Quiver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
  <div id="banner-content">
    QUIVER
  </div>
</div>


<div id="topNav">
  <ul>
    <li class="navLeft"><%= link_to "Home", root_path %></li>
    <% if !user_signed_in? %>
      <li class="account"><%= link_to "Login", new_user_session_path %></li>
    <% else %>
      <li class="navLeft"><%= link_to "My Posts", posts_path %></li>
      <li class="navLeft"><%= link_to "My Groups",
        groups_path %></li>
      <li class="account"><%= link_to current_user.first_name + "'s Profile", edit_user_registration_path %></li>
      <li class="account"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
<div id="sidebar">
  <ul>
    <li><%= link_to "New Post", new_post_path %></li>
  </ul>
</div>
<% end %>

<div id="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
